## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)
len(sample_list_1)
#1 definimos sample_list_1 y usamos la funcion random.sample() para genera numeros al azar indicandole el rango y el largo de la lista
#2 pedimos que nos imprima la sample_list_1
#3 use el metodo len para asegurame de que la lista tuviera el largo adecuado

[57, 42, 69, 28, 52, 44, 29, 89, 21, 25, 5, 15, 100, 81, 43, 48, 84, 13, 1, 62, 98, 46, 79, 60, 80, 56, 40, 16, 36, 77, 41, 67, 92, 0, 97, 10, 82, 68, 94, 74, 86, 95, 71, 83, 61, 4, 7, 47, 3, 23, 54, 58, 37, 91, 93, 2, 59, 27, 90, 63, 73, 18, 14, 51, 88, 87, 32, 96, 26, 35, 11, 31, 75, 30, 17, 12, 78, 55, 45, 72]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [190]:
set1=set(sample_list_1)
print(len(set1))
print(set1)
#1 definimos set3 usamos el metedo set para convertirlo y lo almacenamos en set1
#2 le pedimos que nos muestre la longitud del set usan el print() y el metodo len()

80
{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [69]:
sample_list_2=[]
for _ in range(1):
    sample_list_2.extend(random.sample(range(101), 80))
    print(sample_list_2)

[47, 76, 59, 24, 81, 37, 3, 77, 52, 27, 69, 18, 98, 53, 62, 86, 2, 64, 36, 21, 58, 26, 87, 38, 67, 65, 41, 99, 34, 13, 29, 32, 70, 17, 25, 74, 51, 75, 40, 54, 20, 16, 66, 55, 78, 30, 1, 95, 45, 89, 23, 10, 57, 50, 46, 94, 15, 49, 71, 48, 72, 14, 61, 35, 19, 73, 83, 5, 63, 42, 90, 93, 43, 82, 0, 68, 79, 44, 6, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [191]:
print(sample_list_2)
set2=set(sample_list_2)
print(len(set2))
print(set2)
type(set2)

[29, 70, 7, 22, 88, 73, 14, 68, 87, 89, 54, 28, 86, 47, 19, 74, 6, 3, 56, 11, 30, 90, 39, 100, 55, 49, 91, 32, 85, 53, 23, 43, 2, 80, 78, 97, 65, 76, 83, 38, 25, 57, 58, 24, 94, 63, 45, 35, 20, 37, 33, 66, 26, 36, 5, 60, 4, 79, 96, 48, 84, 92, 75, 12, 69, 81, 9, 95, 21, 82, 52, 77, 44, 93, 8, 10, 40, 42, 17, 27]
80
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100}

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [207]:
set3 =set1.difference(set2)
print(set3)
type(set3)

{64, 1, 34, 67, 98, 99, 71, 72, 13, 46, 15, 16, 18, 51, 59, 61, 62, 31}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [208]:
set4=set2.difference(set1)
print(set4)

{65, 66, 3, 68, 39, 74, 11, 43, 92, 17, 19, 83, 53, 22, 87, 25, 28, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [209]:
set5 = set1.intersection(set2)
print(set5)
type(set5)

{2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 20, 21, 23, 24, 26, 27, 30, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 47, 48, 49, 52, 54, 55, 56, 57, 58, 60, 63, 69, 70, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 100}

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [195]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
union_all = set1.union(set2).union(set3).union(set4).union(set5)
intersection_all = set1.intersection(set2).intersection(set3).intersection(set4).intersection(set5)
resultado=union_all - intersection_all
print(union_all)
print(intersection_all)
print(resultado)
print(len(union_all))
print(len(intersection_all))

80
80
18
18
62
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
98
0

#### Create an empty set called `set6`.

In [234]:
set6={""}#nose porque no me deja hacerlo con una set vacio

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [236]:
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{'', 1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
81

#### Check if `set1` and `set6` are equal.

In [239]:
union_set = set1 | set6
print(union_set)
len(union_set)

{'', 1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

81

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [243]:
contiene1=set1.issubset(set2)
contiene2=set1.issubset(set3)
print(contiene1)
print(contiene2)
# no no los contiene

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [256]:
union_set1_2 = set1.union(set2)
union_set3_4_5 = set3.union(set4).union(set5)
print(union_set1_2)
print(union_set3_4_5)
igualdad = union_set3_4_5 == union_set1_2
print(igualdad)
#si lo son

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
True

#### Using the `pop` method, remove the first element from `set1`.

In [259]:
remove_elemente=set1.pop()
print(remove_elemente)

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [263]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_list_remove=set(list_to_remove)
set1.discard(set_list_remove)
print(set1)

{4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 23, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 67, 70, 72, 73, 75, 76, 77, 78, 80, 82, 84, 85, 86, 88, 90, 93, 94, 95, 96, 97, 98, 100}