# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [2]:
import pandas as pd           #importamos pandas y numpys vemos la version y nos aseguramos de estar en el entorno o kernel adecuado
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

#### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]
lst2 = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [4]:
lst = pd.Series([5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]) #1.usamos el metodo pd.Series y le pasamos la list
print(type(lst))

<class 'pandas.core.series.Series'>

In [5]:
lst2 = pd.Series(lst2)          #tambien funciona de este modo  
print(type(lst2))
print(lst2)

<class 'pandas.core.series.Series'>
0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [37]:
print(lst.index) #vemos que el index no seria 
print(lst[2]) #asi especificamos que nos devuelva el tercer elemento de la serie

RangeIndex(start=0, stop=10, step=1)
74.4

In [9]:
for element in range(0,5):
    print(lst[element])

5.7
75.2
74.4
84.0
66.5

In [16]:
for element in range(len(lst)//(lo_que_quieras)):
    print(lst[element])

5.7
75.2
74.4
84.0
66.5

In [15]:
lo_que_quieras = 2

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [17]:
b = pd.DataFrame(b) # de la misma manera que la series definimos el data frame con pd.DataFrame y le pasamos b 
print(type(b)) #verificamos que se creo el data frame

<class 'pandas.core.frame.DataFrame'>

In [24]:
#metodo uno
d_name = pd.DataFrame(b,columns = colnames)
d_name

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 5. Rename the data frame columns based on the names in the list below.

In [20]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [21]:
#metodo2
b.columns = colnames #usamos el atributo .columns y las renombramos igualandola a colname y su contenido

In [22]:
print(b) #vemos que se ha reasignado los valores de columns con los que queriamos

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [47]:
columns_1_3_5 = b[["Score_1", "Score_3", "Score_5"]] #creamos el dataframe apartir de el de b. nombramos  y luego especificamos las columnas que queremos que tenga 
print(columns_1_3_5)                       #vemos el nuevo data frame.
print(type(columns_1_3_5))             #verificamos que es un data frame sub set con doble corchetes

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7
<class 'pandas.core.frame.DataFrame'>

#### 7. From the original data frame, calculate the average Score_3 value.

In [48]:
print(b["Score_3"].describe()) #usamos el metodo describe() y especificamos que sea solo de la columna de "Score_3"

count    10.000000
mean     56.950000
std      30.168278
min       0.100000
25%      43.450000
50%      53.600000
75%      80.925000
max      96.100000
Name: Score_3, dtype: float64

In [62]:
promedio = b["Score_3"].mean() #usamos el metodo .mean() especificando ['Score_2'] que solo sea de esta columna
print(promedio)
#vemos que el promedio de la columna "Score_3"

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [56]:
print(b["Score_4"].describe()) #podemos usar el metodo .describe que nos da un resumen donde aparece el valor max

count    10.000000
mean     47.280000
std      31.393446
min       4.200000
25%      25.050000
50%      36.400000
75%      79.300000
max      88.800000
Name: Score_4, dtype: float64

In [58]:
max_value = b["Score_4"].max() #tambien lo podemos hacer usando el metodo .max() 
print(max_value)

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

In [60]:
media = b["Score_2"].median() #podemos usar el metodo .median() y nos da la media
print(media)

40.75

In [61]:
print(b["Score_2"].describe())#tambien podenos usar el .describe() que te da esa info

count    10.00000
mean     50.11000
std      32.12204
min       0.10000
25%      29.55000
50%      40.75000
75%      72.15000
max      96.40000
Name: Score_2, dtype: float64

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [63]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [69]:
orders = pd.DataFrame(orders) #usamos el pd.DataFrame(orders) para crear nuestro data frame
print(type(orders))            # verificamos

<class 'pandas.core.frame.DataFrame'>

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [116]:
total_cost = orders["Quantity"]*orders["UnitPrice"]
print(total_cost)
print(type(total_cost))
total_sell = orders["Quantity"]*orders["Revenue"]
print(total_sell)
print(type(total_sell))

0      1.65
1     13.20
2      1.65
3    518.40
4      2.50
5      5.95
6     11.95
7     19.80
8      1.90
9     60.00
dtype: float64
<class 'pandas.core.series.Series'>
0          1.65
1        316.80
2          1.65
3    1492992.00
4          5.00
5         41.65
6         11.95
7         79.20
8         19.00
9       2880.00
dtype: float64
<class 'pandas.core.series.Series'>

In [100]:
new_total=total_sell.sum() - total_cost.sum()
print(new_total)  #total de ganacias

1495711.9

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [115]:
max_costoso = orders["UnitPrice"].max()
min_barato = orders["UnitPrice"].min()
diferencian_de_productos = max_costoso - min_barato
print(diferencian_de_productos)
print(type(diferencian_de_productos))

11.77
<class 'float'>